@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

:root {
  font-size: 60%;
  --content-page-color: #212121;
  --main-frame-color: #bdbdbd;
  --main-text-color: #ededed;
  --main-color-secondary: #607d8b;
  --color-text-base: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--content-page-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
input,
button,
textarea,
p,
legend {
  font-family: "Nunito", sans-serif;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

.Main-Frame {
  background-color: var(--main-frame-color);
  /*min-height: 60vh;*/
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  border-radius: 0.25rem;
  padding: 15px;
}

.btn {
  border-radius: 0.25rem;
  display: inline-block;
  border: 1px solid transparent;
  padding: 4px;
  margin: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  filter: brightness(0.85);
}

.btn-primary {
  width: 100%;
  background-color: #362624;
  font-size: 2rem;
  color: white;
}

.btn-secondary {
  background-color: var(--main-color-secondary);
  border: 0;
  border-radius: 0.25rem;
  padding: 4px;
  margin: 2px;
  color: white;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

.alert-danger {
  color: #a72c1c;
  background-color: #f5a196;
  border-color: #d15444;
}

.button-success:hover {
  color: #fff;
  background-color: #0f421b;
}

.btn-danger {
  background-color: #a72c1c;
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  width: auto;
  padding: 5px;
}

.button-danger:hover {
  color: #fff;
  background-color: #7c2115;
}

.Link-Card-Item {
  text-decoration: none;
}

/*
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; 
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
 border-radius($card-border-radius);
}*/

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
